// Global scss variables

// Global css variables
:root {
  --color-body-background: #f1f1f1;
  --color-card-background: #fff;
  --color-border: #ccc;
  --color-border-secondary: #f1f1f1;
  --color-placeholder: #ccc;
  --color-primary: #469ae4;
  --shadow-100: 0 0 16px rgba(#000, 0.2);
}
